{% extends "base.html" %}
{% block content %}
<section id="content">

{% set landing_page = namespace(page=false) %}
{% for p in hidden_pages if p.slug == "landing-page-about-hidden" %}
{% set landing_page.page = p %}
{% endfor %}
<div class="columns">
  <div class="column is-three-fifths">
  <div class="summary">
    <div class="title is-size-5 has-text-weight-bold">Essential Information</div>
    <div class="content">
      {{ landing_page.page.content }}
    </div>
  </div>
  <figure class="image">
    <img src="{{ SITEURL }}/images/sutherland.jpg" alt="Sunrise at Sutherland, South Africa." />
    <figcaption>Sunrise at Sutherland, South Africa. Image courtesy: Bruno Letarte</figcaption>
  </figure>
  </div>
  <div class="column">
      <figure class="image">
        <img src="{{ SITEURL }}/images/poster.jpg" alt="Poster for Focus Meeting 10" />
      </figure>
      <div class="buttons">
        <a href="https://drive.google.com/file/d/1supUA2MXcdPGBaMp2hSnJtGA6WF33mLv/view?usp=drive_link" class="button is-primary is-fullwidth">Download Poster</a>
      </div>
</div>
</section><!-- /#content -->
{% endblock content %}
