{% extends "base.html" %}
{% block content %}
<section id="content">

{% set landing_page = namespace(page=false) %}
{% for p in hidden_pages if p.slug == "landing-page-about-hidden" %}
{% set landing_page.page = p %}
{% endfor %}
<div class="columns">
  <div class="column is-three-fifths">
  <div class="summary">
    <div class="title is-size-5 has-text-weight-bold">Essential Information</div>
    <div class="content">
      {{ landing_page.page.content }}
    </div>
  </div>
  <figure class="image">
    <img src="{{ SITEURL }}/images/fm8-ga2027-graphic.png" alt="Sunrise at Sutherland, South Africa." />
    <figcaption>ChatGPT image - Prompt:</figcaption>
  </figure>
  </div>
  <div class="column">

</div>
</section><!-- /#content -->
{% endblock content %}
