/* Bulma Layout */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;}

#wrapper {
  flex: 1;
}

.first-color { 
	background: #AA6373; 
}
	
.second-color { 
	background: #F0F2A6; 
}

.third-color { 
	background: #822e81; 
}

.main-colour {
  color: #822e81;
}

.secondary-colour {
  background-color: #AA6373;
}

.section {
  padding: 3rem 1.5rem; }
  @media screen and (min-width: 1024px) {
    .section.is-medium {
      padding: 9rem 1.5rem; }
    .section.is-large {
      padding: 18rem 1.5rem; } }

.footer {
  background-color: #392061;
  padding: 3rem 1.5rem 6rem; 
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: underline; }

body {
  font-family: 'Raleway', sans-serif; }

.line {
  height: 10px; }

.hr {
  border-bottom: 10px solid #822e81;
  margin: 0 1.5rem; }

.section {
  padding: 3rem 1.5rem 1rem; }

.summary,
.experience,
.education,
.projects,
.skills,
.awards,
.languages {
  margin-bottom: 1.5rem; }
  .summary .title,
  .experience .title,
  .education .title,
  .projects .title,
  .skills .title,
  .awards .title,
  .languages .title {
    padding: .5em 0;
    border-bottom: 1px solid #822e81; }

.experience .item,
.education .item,
.projects .item,
.skills .item,
.awards .item {
  padding: .5em 0; }

figcaption {
  color: #aaa
}

.footer {
  padding: 3rem 1.5rem 1rem; }

/* Query for mobile only*/
@media screen and (max-width: 768px) {
  .profile {
    text-align: center; }
  .social-icon {
    justify-content: center;
    padding: .25rem 0; } }

/* Query for desktop only*/
@media screen and (min-width: 768px) {
  .has-text-right-in-desktop {
    text-align: right; } }
